/* https://github.com/rikkert1018/internetstandaarden */



body {
  padding: 0;
  margin: 0;
  background-image: url(/img/peakpx.jpg);
  background-attachment: fixed;
  background-position: 1em;
  background-repeat: no-repeat;
  background-size: cover;
}



ul {
  font-family: sans-serif,Arial, Helvetica;
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  font-size: large;
 


}



a {
  display: block;
  padding: 10px;
}

li {
  display: inline;
  padding-left: 2em;
  padding-right: 2em;
}

li a {
  transition: ease-out;
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(175, 175, 175);
}

.active {
  background-color: rgb(128, 128, 128);
}

.simulant {
width: auto;
height: 8em;
padding-left: 58em;
margin-top: -20em;
padding-bottom: 1em;
}



.ferran {
  padding-left: 85em;
  margin-top: -18em;

}

.salt {
  padding-left: 84em;
  margin-top: -8em;

}

.fontcalda {
  display: flex;
  padding-top: 2em;
  padding-right: 0;
}

p {
  font-family: sans-serif;
  margin-left: 10.5em;
  margin-right: 16.5em;
  margin-top: 1.25em;
  padding-top: 1.25em;
  font-size: 1.2em;
  background-color: white;

}

.hometext {
  width: 100%;
  background-color: white;
  color: black;
  font-size: 1.2em;
  padding-bottom: 1em;
  margin-top: -1em;
  margin-bottom: 5em;
}

h1 {
  text-align: center;
  font-family: 'Times New Roman', serif;
  margin-top: 0.1em;
  padding-top: 1em;
  color: rgb(255, 255, 255);
  margin-bottom: 2.3em;
  font-size: 10em;
}

h2{
  font-family: sans-serif,Arial, Helvetica;
}

h3 {
  font-family: sans-serif;
  font-size: 8em;
  padding: 0;
  text-align: center;
  color: white;
  opacity: 80%;
  margin-top: 4em;
  margin-bottom: 0.1em;
}

h4 {
  font-family: sans-serif,arial;
  font-weight: 50;
  padding-right: 1.5em;
}

h6 {
  font-size: 2em;
  margin-left: 6.2em;
  padding-top: 1.25em;
  margin-bottom: 1.5em;
  font-family: sans-serif,arial;
}

/*https://www.w3schools.com/howto/howto_css_fixed_footer.asp*/
.footer {
  width: 100%;
  background-color: rgb(212, 212, 212);
  color: rgb(0, 0, 0);
  text-align: center;
}


/*Maps  */

.mapouter {
  position: relative;
  text-align: right;
  height: 500px;
  width: 600px;
}




.flex-container {
  display: flex;
  padding-top: 0;
  padding-right: 0;

}

.flex-container>section:nth-child(1) {
  background-color: white;
  font-size: 30px;
  padding-left: 2em;
}

.flexdoos {
  display: flex;
  padding-top: 2em;
  padding-right: 0;
}

.flexdoos>section:nth-child(1) {
  background-color: white;
  font-size: 30px;
  padding-left: 2em;
}



.fontcalda>section:nth-child(1) {
  background-color: white;
  font-size: 30px;
  padding-left: 2em;
}

.flexdoos1 {
  display: flex;
  padding-top: 2em;
  padding-right: 0;
}

.flexdoos1>section:nth-child(1) {
  background-color: white;
  font-size: 30px;
  padding-left: 2em;
}

@media (max-width: 920px) {
 img {
    display: none;
  } }
  /* https://www.w3schools.com/cssref/css3_pr_mediaquery.php */