body {
  padding: 0;
  margin: 0;
  background-image: url(/Miravet-vista-panoramica.jpg);
  background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
  text-align: center;
  font-family: 'Times New Roman', serif;
  margin-top: 0.1em;
  padding-top: 1em;
  color: rgb(255, 255, 255);
  margin-bottom: 500px;
  font-size: 10em;
}

 ul {
  display: flex;
  justify-content:center;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  font-size: large; 
  transition: 0.2 ease-out;

}



a {
  display: block;
  padding: 10px;
}

li {
  display:inline;
  padding-left: 2em;
  padding-right: 2em;
}

li a {
  transition: ease-out;
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(175, 175, 175);
}

.active {
  background-color: rgb(128, 128, 128);
}

img {
  width: 110%;  
  height: 100%;
  position: fixed;
}

p{
  margin-left: 12.5em;
  margin-right: 12.5em;
  margin-top: 12.5em;
  padding-top: 1.25em;
 
   }

   article{
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 1.2em;
   
    padding-bottom:10px ;
    margin-top: 100px;
    margin-bottom: 300px;
   }